<h1>Details about <%= @pet.name %> - <%= @pet.species %></h1>
<p>Found at <%= @pet.address %>, <%= @pet.found_days_ago %> days ago</p>

<%= link_to "Edit pet", edit_pet_path(@pet) %>
<br>
<%= link_to "Delete pet", pet_path(@pet),
    data:  { turbo_method: :delete, turbo_confirm: "Are you sure?" }
%>
<br>
<%= link_to "Back to all", pets_path %>
